<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>OSTM Admin  - Edit User</title>
    <base href="/">
  <!-- Custom fonts for this template-->
  <link href="../../../assets/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
  <!-- Custom styles for this template-->
  <link href="../../../assets/css/sb-admin-2.min.css" rel="stylesheet">

  <!-- Custom styles for this page -->
  <link href="../../assets/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">
  <style>
    .form-select .nice-select {
      border: none;
      border-radius: 0px;
      height: 40px;
      background: #f9f9ff;
      padding-left: 45px;
      padding-right: 40px;
      width: 100%;
    }
  </style>
  <link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.css" rel="stylesheet">
</head>

<body class="bg-gradient-primary">

  <div class="container">

    <div class="card o-hidden border-0 shadow-lg my-5">
      <div class="card-body p-0">
        <!-- Nested Row within Card Body -->


        <div class="row">
          {{if .Image.Id}}
            <div style="background: url('data:image/jpeg;base64,{{.Image.Id}}'); background-position: center;
                    background-size: cover;" class="col-lg-5 d-none d-lg-block"></div>
          {{else}}
          <div class="col-lg-5 d-none d-lg-block bg-register-image"></div>
          {{end}}
          <div class="col-lg-7">
            <div class="p-5">
              {{if .Backend_error}}
                <div class="text-center alert-warning">
                  <a class="small" href="#">{{.Backend_error}}</a>
                </div>
              {{end}}
              {{if .Unknown_error}}
                <div class="text-center alert-warning">
                  <a class="small" href="#">{{.Unknown_error}}</a>
                </div>
              {{end}}
              <div class="text-center">
                <h1 class="h4 text-gray-900 mb-4">Edit User</h1>
              </div>
              <form class="user" method="post" action="/admin_user/users/update_user" enctype="multipart/form-data">
                <input type="hidden" class="form-control"name="imageId" value="{{.Image.ImageId}}"  required>
                <input type="hidden" class="form-control"name="email" value="{{.User.Email}}"  required>
                <div class="form-group row">
                  <div class="col-sm-6 mb-3 mb-sm-0">
                    <label>Name</label>
                    <input type="text" class="form-control"name="name" value="{{.User.Name}}"  required>
                  </div>
                  <div class="col-sm-6">
                    <label>Surname</label>
                    <input type="text" class="form-control"name="surname" value="{{.User.Surname}}" required>
                  </div>
                </div>
                <div class="form-group row">
                  <div class="col-sm-6">
                  <label>Password</label>
                  <input type="text" class="form-control"name="password" value="{{.UserAccount.Password}}" required>
                  </div>
                  <div class="col-sm-6">
                  <label>Role</label>
                    <select id="roleSelect" name="roleId" class="browser-default custom-select" onchange="checkSelectedRole({{.Role.Id}})" required>
                      <option selected>User Role</option>
                      {{with .Roles}}
                        {{range .}}
                          <option value="{{.Id}}" {{if eq $.Role.Id .Id}}selected{{end}}>{{.Role}}</option>
                        {{end}}
                      {{end}}
                    </select>
                  </div>
                </div>
                <div class="form-group">
                  <label>User profile Picture</label>
                  <input type="file"name="file" class="form-control " id="file" placeholder="Project Name">
                </div>
                <button type="submit" id="updateUserBTN" class="btn btn-primary btn-block" >
                  Update
                </button>
                <hr>
                <a href="/admin_user/users" class="btn btn-warning  btn-block">Back</a>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>


    <div class="card shadow mb-4">
      <!-- Card Header - Accordion -->
      <a href="#collapseCardStep2" class="d-block card-header py-3 btn-success" data-toggle="collapse"
         role="button" aria-expanded="true" aria-controls="collapseCardExample">
        <h6 class="m-0 font-weight-bold " style="color: #0b0b0b">History</h6>
      </a>
      <!-- Card Content - Collapse -->
      <div class="collapse " id="collapseCardStep2">
        <div class="card-body"  >
          {{if not .History.History}}
            <form method="post" action="/admin_user/users/create_history">
              <div class="form-group" >
                <input name="historyId" value="{{.History.Id}}" hidden>
                <input name="userId" value="{{.User.Email}}" hidden>
                <div class="form-group">
                  <label>Add History</label>
                  <textarea id="mytextare" class="form-control"  name="myArea"></textarea>
                </div>

              </div>
              <div class="form-group text-center" >
                <button class="btn btn-info" id="formUpdateButton" type="submit">update</button>
              </div>
            </form>
          {{else}}
            <div class="form-group " id="two" ></div>
            <div class="form-group " id="me" >
              <script>
                var div= document.getElementById('me');
                var myvalue = {{.History.History}}
                        parseMe(myvalue);
                function parseMe(value) {
                  div.innerHTML+=value;
                }
              </script>
            </div>
            <hr>
            <div class="form-group">
              <form method="post" action="/admin_user/users/update_history">
                <div class="form-group" >
                  <input name="historyId" value="{{.History.Id}}" hidden>
                  <input name="projectId" value="{{.User.Email}}" hidden>
                  <input type="hidden" class="form-control"name="email" value="{{.User.Email}}"  required>
                  <div class="form-group" >
                    <label id="label" hidden style="color: steelblue">Add the new contents here<small> (You may copy from the previous. Remember this new content will override the previous)</small></label>
                    <textarea name="myArea" id="myArea" class="form-control" hidden>
                    </textarea>
                  </div>

                </div>
                <div class="form-group text-center" >
                  <button class="btn btn-warning" id="formUpdateButton" type="submit" hidden>update</button>
                </div>
              </form>
            </div>
            <div class="form-group text-center">
              <button class="btn btn-info" id="updateButton" type="button" onclick="changeContents({{.History.History}})" data-dismiss="modal">update</button>
            </div>
          {{end}}
        </div>
      </div>
    </div>

  </div>

  <!-- Bootstrap core JavaScript-->
  <script src="../../assets/vendor/jquery/jquery.min.js"></script>
  <script src="../../assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Core plugin JavaScript-->
  <script src="../../assets/vendor/jquery-easing/jquery.easing.min.js"></script>

  <!-- Custom scripts for all pages-->
  <script src="../../assets/js/sb-admin-2.min.js"></script>

  <!-- Page level plugins -->
  <script src="../../assets/vendor/datatables/jquery.dataTables.min.js"></script>
  <script src="../../assets/vendor/datatables/dataTables.bootstrap4.min.js"></script>

  <!-- Page level custom scripts -->
  <script src="../../assets/js/demo/datatables-demo.js"></script>

  <script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.js"></script>

</body>
<script>


  $(document).ready(function() {
    $('#mytextare').summernote();
  });

  let checkSelectedRole = function(initialApplicantType) {
    const selectedRole = $("#roleSelect").val();
    $("#updateApplicantTypeBtn").hide();
    initialApplicantType.localeCompare(selectedRole);
  };

  function changeContents(content) {
    $('#myArea').summernote();
    $('#updateButton').attr('hidden','hidden');
    $('#formUpdateButton').removeAttr('hidden');
    $('#myArea').removeAttr('hidden');
    $('#label').removeAttr('hidden');
  }
</script>

</html>
