{{define "comments"}}
<section class="comment-sec-area pt-80 pb-80">
    <div class="container">
        <div class="row flex-column">
            <h5 class="text-uppercase pb-80">{{.CommentNumber}} Comments</h5>
            <br>

            {{with .Comments}}
            {{range .}}
            <div class="comment-list left-padding">
                <div class="single-comment justify-content-between d-flex">
                    <div class="user justify-content-between d-flex">
                        <div class="thumb">
                            <img src="../../assets/img/blog/c2.jpg" alt="">
                        </div>
                        <div class="desc">
                            <h5><a href="#">{{.Name}}</a></h5>
                            <p class="date">{{.Date}}</p>
                            <p class="comment">
                                {{.Comment}}
                            </p>
                        </div>
                    </div>
                    <div class="reply-btn">
                        <a href="" class="btn-reply text-uppercase">reply</a>
                    </div>
                </div>
            </div>
            {{end}}
            {{end}}
            <br>

        </div>
    </div>
</section>
{{end}}
