<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Add custom icons with Markers</title>
    <meta name="viewport" content="initial-scale=1,maximum-scale=1,user-scalable=no" />
    <script src="https://api.mapbox.com/mapbox-gl-js/v2.0.0/mapbox-gl.js"></script>
    <link href="https://api.mapbox.com/mapbox-gl-js/v2.0.0/mapbox-gl.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,400,300,500,600,700" rel="stylesheet">
    <!--
    CSS
    ============================================= -->
    <link rel="stylesheet" href="../../assets/css/linearicons.css">
    <link rel="stylesheet" href="../../assets/css/font-awesome.min.css">
    <link rel="stylesheet" href="../../assets/css/bootstrap.css">
    <link rel="stylesheet" href="../../assets/css/magnific-popup.css">
    <link rel="stylesheet" href="../../assets/css/nice-select.css">
    <link rel="stylesheet" href="../../assets/css/animate.min.css">
    <link rel="stylesheet" href="../../assets/css/owl.carousel.css">
    <link rel="stylesheet" href="../../assets/css/main.css">
    <style>
        body { margin: 0; padding: 0; }
        #map { position: absolute; top: 0; bottom: 0; width: 100%; }
        .ScrollStyle { max-height: 990px; overflow-y: scroll;}
    </style>
</head>
<body>
<style>
    .marker {
        background-image: url('../../assets/img/marker-15.svg');
        background-size: cover;
        display: block;
        border: none;
        border-radius: 50%;
        cursor: pointer;
        padding: 0;
    }
</style>

<div class="row">
    <div class="col-lg-8 post-list blog-post-list">
        <div id="map"></div>
    </div>
    <div class="col-lg-4 sidebar ScrollStyle" >

        <div class="single-widget protfolio-widget">
            <br>
            <img id="placeImage" src="../../assets/img/blog/user2.jpg" alt="">
            <a id="title-a"><h4 id="title">Adele Gonzalez</h4></a>
            <p id="title-description">
                MCSE boot camps have its supporters and
                its detractors. Some people do not understand why you should have to spend money
                on boot camp when you can get.
            </p>
            <ul>
                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                <li><a href="#"><i class="fa fa-behance"></i></a></li>
            </ul>
        </div>

        <div class="single-widget category-widget">
            <h4 class="title">People Linked to this place</h4>
            <ul id="peoplePlace">
                <li><a href="#" class="justify-content-between align-items-center d-flex"><h6>Techlology</h6> <span>37</span></a></li>
                <li><a href="#" class="justify-content-between align-items-center d-flex"><h6>Lifestyle</h6> <span>24</span></a></li>
                <li><a href="#" class="justify-content-between align-items-center d-flex"><h6>Fashion</h6> <span>59</span></a></li>
                <li><a href="#" class="justify-content-between align-items-center d-flex"><h6>Art</h6> <span>29</span></a></li>
                <li><a href="#" class="justify-content-between align-items-center d-flex"><h6>Food</h6> <span>15</span></a></li>
                <li><a href="#" class="justify-content-between align-items-center d-flex"><h6>Architecture</h6> <span>09</span></a></li>
                <li><a href="#" class="justify-content-between align-items-center d-flex"><h6>Adventure</h6> <span>44</span></a></li>
            </ul>
        </div>

        <div class="single-widget recent-posts-widget">
            <h4 class="title">Recent Posts</h4>
            <div class="blog-list ">
                <div class="single-recent-post d-flex flex-row">
                    <div class="recent-thumb">
                        <img class="img-fluid" src="../assets/img/blog/r1.jpg" alt="">
                    </div>
                    <div class="recent-details">
                        <a href="blog-single.html">
                            <h4>
                                Home Audio Recording
                                For Everyone
                            </h4>
                        </a>
                        <p>
                            02 hours ago
                        </p>
                    </div>
                </div>
                <div class="single-recent-post d-flex flex-row">
                    <div class="recent-thumb">
                        <img class="img-fluid" src="../assets/img/blog/r2.jpg" alt="">
                    </div>
                    <div class="recent-details">
                        <a href="blog-single.html">
                            <h4>
                                Home Audio Recording
                                For Everyone
                            </h4>
                        </a>
                        <p>
                            02 hours ago
                        </p>
                    </div>
                </div>
                <div class="single-recent-post d-flex flex-row">
                    <div class="recent-thumb">
                        <img class="img-fluid" src="../assets/img/blog/r3.jpg" alt="">
                    </div>
                    <div class="recent-details">
                        <a href="blog-single.html">
                            <h4>
                                Home Audio Recording
                                For Everyone
                            </h4>
                        </a>
                        <p>
                            02 hours ago
                        </p>
                    </div>
                </div>
                <div class="single-recent-post d-flex flex-row">
                    <div class="recent-thumb">
                        <img class="img-fluid" src="../assets/img/blog/r4.jpg" alt="">
                    </div>
                    <div class="recent-details">
                        <a href="blog-single.html">
                            <h4>
                                Home Audio Recording
                                For Everyone
                            </h4>
                        </a>
                        <p>
                            02 hours ago
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <div class="single-widget category-widget">
            <h4 class="title">Post Archive</h4>
            <ul>
                <li><a href="#" class="justify-content-between align-items-center d-flex"><h6>Dec '17</h6> <span>37</span></a></li>
                <li><a href="#" class="justify-content-between align-items-center d-flex"><h6>Nov '17</h6> <span>24</span></a></li>
                <li><a href="#" class="justify-content-between align-items-center d-flex"><h6>Oct '17</h6> <span>59</span></a></li>
                <li><a href="#" class="justify-content-between align-items-center d-flex"><h6>Sep '17</h6> <span>29</span></a></li>
                <li><a href="#" class="justify-content-between align-items-center d-flex"><h6>Aug '17</h6> <span>15</span></a></li>
                <li><a href="#" class="justify-content-between align-items-center d-flex"><h6>Jul '17</h6> <span>09</span></a></li>
                <li><a href="#" class="justify-content-between align-items-center d-flex"><h6>Jun '17</h6> <span>44</span></a></li>
            </ul>
        </div>

        <div class="single-widget tags-widget">
            <h4 class="title">Tag Clouds</h4>
            <ul>
                <li><a href="#">Lifestyle</a></li>
                <li><a href="#">Art</a></li>
                <li><a href="#">Adventure</a></li>
                <li><a href="#">Food</a></li>
                <li><a href="#">Techlology</a></li>
                <li><a href="#">Fashion</a></li>
                <li><a href="#">Architecture</a></li>
                <li><a href="#">Food</a></li>
                <li><a href="#">Technology</a></li>
            </ul>
        </div>

    </div>
</div>

<script>
    mapboxgl.accessToken = 'pk.eyJ1IjoiZXNwb2lyLWRpdGUiLCJhIjoiY2tmaTZsdDBiMGpubzJzcDh2aXdodXlnayJ9.e6tqu6hLu5xlaSk84ERd9g';

    var myPlaces = {{.PlaceData}};



    var map = new mapboxgl.Map({
        container: 'map',
        style: 'mapbox://styles/mapbox/streets-v11',
        center: [18.431896174363573,-34.19493744157412],
        zoom: 10
    });

    // add markers to map
   // geojson.features.forEach(function (marker) {
    myPlaces.forEach(function (marker) {

        var logitudeVar = marker.Place.longitude;
        var placeId = marker.Place.id;
        var title = marker.Place.title;
        var placeImage = marker.Image;
        var description = marker.Place.description;
        console.log("image : ")
        var  trimedLongitude = logitudeVar.trim();
// create a DOM element for the marker
        var el = document.createElement('div');
        el.className = 'marker';
        // el.style.backgroundImage = '../../assets/img/marker-15.svg';
        el.style.width = '40px';
        el.style.height = '40px';

        el.addEventListener('click', function () {
             console.log(description);
            //$('#title').text(description);
            document.getElementById("title").innerHTML = title;
            document.getElementById("title-description").innerHTML = description;
            document.getElementById("title-a").setAttribute("href","/place/"+placeId);
            document.getElementById("placeImage").removeAttribute("src");
            document.getElementById("placeImage").setAttribute("src","data:image/jpeg;base64,"+placeImage);



            if(marker.People){
                marker.People.forEach(function(value) {
                    console.log(value);
                    document.getElementById("peoplePlace").removeAttribute("li");
                    document.getElementById("peoplePlace").innerHTML('<li><a href="/people/'+value.people.id+'" class="justify-content-between align-items-center d-flex"><h6>'+value.people.name+'</h6> <span>37</span></a></li>');

                });
            }else {// Just clear.
                document.getElementById("peoplePlace").innerHTML="";
            }

             //window.alert(description);
        });

        el.addEventListener('mousemove', function () {
            el.setAttribute('title',''+title);
        });
// add marker to map
       var marker = new mapboxgl.Marker(el)
            .setLngLat([marker.Place.latitude,trimedLongitude])
            .addTo(map);
    });

    function getPlaceData() {
        var PlaceList ={{.Places}};
        console.log(PlaceList);
        var myPlaceList = [];
        for (let placeList of PlaceList) {
            console.log(placeList);
            var logitude = placeList.longitude
            var  trimedLongitude = logitude.trim();
            myPlaceList.push( {
                'type': 'FeatureCollection',
                'features': {
                        'type': 'Feature',
                        'properties': {
                            'message':'<strong>placeList.title</strong><p><a href="http://www.mtpleasantdc.com/makeitmtpleasant" target="_blank" title="Opens in a new window">Make it Mount Pleasant</a>placeList.description</p>',
                            'iconSize': [60, 60]
                        },
                        'geometry': {
                            'type': 'Point',
                            'coordinates': [trimedLongitude, placeList.latitude]
                        }
                }
            });
        }
        return myPlaceList;
    }
    {{/*function getImage(placeId) {*/}}
    {{/*    //var smothing*/}}
    {{/*    var imageString = '{{.GetImage placeId}}'*/}}
    {{/*    return {{if (call .GetImage )}}*/}}
    {{/*}*/}}
</script>

</body>
</html>
