<!DOCTYPE html>
<html lang="zxx" class="no-js">
<head>
    <!-- Mobile Specific Meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Favicon-->
    <link rel="shortcut icon" href="assets/img/fav.png">
    <!-- Author Meta -->
    <meta name="author" content="codepixer">
    <!-- Meta Description -->
    <meta name="description" content="">
    <!-- Meta Keyword -->
    <meta name="keywords" content="">
    <!-- meta character set -->
    <meta charset="UTF-8">
    <!-- Site Title -->
    <title>Place |Simon's Town Museum</title>

    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,400,300,500,600,700" rel="stylesheet">
    <!--
    CSS
    ============================================= -->
    <link rel="stylesheet" href="../../assets/css/linearicons.css">
    <link rel="stylesheet" href="../../assets/css/font-awesome.min.css">
    <link rel="stylesheet" href="../../assets/css/bootstrap.css">
    <link rel="stylesheet" href="../../assets/css/magnific-popup.css">
    <link rel="stylesheet" href="../../assets/css/nice-select.css">
    <link rel="stylesheet" href="../../assets/css/animate.min.css">
    <link rel="stylesheet" href="../../assets/css/owl.carousel.css">
    <link rel="stylesheet" href="../../assets/css/main.css">

    <meta name="viewport" content="initial-scale=1,maximum-scale=1,user-scalable=no" />
    <script src="https://api.mapbox.com/mapbox-gl-js/v1.12.0/mapbox-gl.js"></script>
    <link href="https://api.mapbox.com/mapbox-gl-js/v1.12.0/mapbox-gl.css" rel="stylesheet" />
</head>
<body>

{{template "navigator"}}

<!-- start banner Area -->
<section class="banner-area relative" id="home">
    <div class="overlay overlay-bg"></div>
    <div class="container">
        <div class="row d-flex align-items-center justify-content-center">
            <div class="about-content col-lg-12">
                <h1 class="text-white">
                    Places
                </h1>
                <p class="text-white link-nav"><a href="../index.html">Home </a> <span class="lnr lnr-arrow-right"></span>
                    <a href="places_page.html"> Places</a></p>
            </div>
        </div>
    </div>
</section>
<!-- End banner Area -->

<!-- Start contact-page Area -->

<div class="row">
    <div class="col-lg-12 col-md-12 text-center">
    <section class="sample-text-area">
        <div class="container">
            <h3 class="text-heading">Simon's Town Historical Map</h3>
            <p class="sample-text">
                Every avid independent filmmaker has <b>Bold</b> about making that <i>Italic</i> interest documentary,
                or short film to show off their creative prowess. Many have great ideas and want to “wow” the<sup>Superscript</sup>
                scene, or video renters with their big project. But once you have the<sub>Subscript</sub> “in the can”
                (no easy feat), how do you move from a
                <del>Strike</del>
                through of master DVDs with the <u>“Underline”</u> marked hand-written title inside a secondhand CD
                case, to a pile of cardboard boxes full of shiny new, retail-ready DVDs, with UPC barcodes and polywrap
                sitting on your doorstep? You need to create eye-popping artwork and have your project replicated. Using
                a reputable full service DVD Replication company like PacificDisc, Inc. to partner with is certainly a
                helpful option to ensure a professional end result, but to help with your DVD replication project, here
                are 4 easy steps to follow for good DVD replication results:
            </p>
        </div>
    </section>


    <a class="navbar-brand" href="#">

    </a>
        <div class="container text-center">
    <div class="map-wrap" style="width:100%; height: 545px; position: center"  id="mapz">
    </div>
        </div>
    </div>
</div>

<!-- End contact-page Area -->

<!-- start footer Area -->
{{template "footer" .}}
<!-- End footer Area -->

<script src="../../assets/js/vendor/jquery-2.2.4.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="../../assets/js/vendor/bootstrap.min.js"></script>
<script
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBhOdIF3Y9382fqJYt5I_sswSrEw5eihAA&callback=initMap">
</script>
<script src="../../assets/js/easing.min.js"></script>
<script src="../../assets/js/hoverIntent.js"></script>
<script src="../../assets/js/superfish.min.js"></script>
<script src="../../assets/js/jquery.ajaxchimp.min.js"></script>
<script src="../../assets/js/jquery.magnific-popup.min.js"></script>
<script src="../../assets/js/owl.carousel.min.js"></script>
<script src="../../assets/js/imagesloaded.pkgd.min.js"></script>
<script src="../../assets/js/justified.min.js"></script>
<script src="../../assets/js/jquery.sticky.js"></script>
<script src="../../assets/js/jquery.nice-select.min.js"></script>
<script src="../../assets/js/parallax.min.js"></script>
<script src="../../assets/js/mail-script.js"></script>
<script src="../../assets/js/main.js"></script>

<script src="../../assets/js/customer/mapBox.js"></script>
</body>
<script>
    $(document).ready(function() {
        getTheMap({{.Places}});
    });
</script>
</html>



