<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>OSTM 1 - People</title>

  <!-- Custom fonts for this template -->
  <link href="../../assets/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="../../assets/css/sb-admin-2.min.css" rel="stylesheet">

  <!-- Custom styles for this page -->
  <link href="../../assets/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">

  <link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.css" rel="stylesheet">

</head>

<body id="page-top">

  <!-- Page Wrapper -->
  <div id="wrapper">

    <!-- Sidebar -->
    {{template "navbar" .}}
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

      <!-- Main Content -->
      <div id="content">

        <!-- Topbar -->
        {{template "topbar" .}}
        <!-- End of Topbar -->

        <!-- Begin Page Content -->
        <div class="container-fluid">

          <!-- Page Heading -->
          {{if .Backend_error}}
          <div class="text-center">
            <h1 class="h4 text-gray-900 mb-4">{{.Backend_error}}</h1>
          </div>
          {{end}}

          {{if .Unknown_error}}
          <div class="text-center">
            <h1 class="h4 text-gray-900 mb-4">{{.Unknown_error}}</h1>
          </div>
          {{end}}



          <!-- DataTales Example -->
          <div class="card shadow mb-4">
            <div class="card-header py-3">
              <div class="row" >
                <div class="col-lg-6">
                  <h6 class="m-0 font-weight-bold text-primary">People Table</h6>
                </div>
                <div class="col-lg-6">
                  <a class="float-right" href="#" data-toggle="modal" data-target="#peopleModal">
                    <i class="fas fa-plus fa-sm fa-fw mr-2 text-gray-400"></i>
                    Add
                  </a>
                </div>
              </div>
            </div>
            <div class="card-body">
              <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                  <thead>
                    <tr>
                      <th>Nr</th>
                      <th>Name</th>
                      <th>User Surname</th>
                      <th>Date of Birth</th>
                      <th>Date of Death</th>
                      <th>Origin</th>
                      <th>Profession</th>
                      <th>Action</th>
                      <th>Action</th>
                    </tr>
                  </thead>
                  <tbody>
                  {{with .Peoples}}
                  {{range $i, $e := .}}
                    <tr>
                      <td>{{$i}}</td>
                      <td>{{.Name}}</td>
                      <td>{{.Surname}}</td>
                      <td>{{.BirthDate}}</td>
                      <td>{{.DeathDate}}</td>
                      <td>{{.Origin}}</td>
                      <td>{{.Profession}}</td>
                      <td><a href="/admin_user/people/edit/{{.Id}}" class="btn btn-primary btn-user btn-block" >Edit</a></td>
                      <td><a  class="btn btn-google btn-user btn-block text-white" data-toggle="modal" onclick="deleteBTN({{.Id}},{{.Name}},{{.Surname}})" data-target="#exampleModalCenter">Delete</a></td><!---href="/admin_user/user/delete/"--->
                    </tr>
                  {{end}}
                  {{end}}
                  </tbody>
                </table>
              </div>
            </div>
          </div>

        </div>
        <!-- /.container-fluid -->

      </div>
      <!-- End of Main Content -->

      <!-- Footer -->
      <footer class="sticky-footer bg-white">
        <div class="container my-auto">
          <div class="copyright text-center my-auto">
            <span>Copyright &copy; Your Website 2019</span>
          </div>
        </div>
      </footer>
      <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

  </div>
  <!-- End of Page Wrapper -->

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>

  <!-- Logout Modal-->
  <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
        <div class="modal-footer">
          <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
          <a class="btn btn-primary" href="../login/login.html">Logout</a>
        </div>
      </div>
    </div>
  </div>

<!--  People Modal -->
  <div class="modal fade" id="peopleModal" tabindex="-1" role="dialog" aria-labelledby="campusModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
      <div class="modal-content modal-xl">
        <div class="modal-header">
          <h5 class="modal-title" id="campusModalLabel">Add new People</h5>
          <button class="close" onclick="resetFrom('peopleForm')" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>

        <div class="modal-body">
          <form class="user" method="post" id="peopleForm" action="/admin_user/people/create_stp1" enctype="multipart/form-data">

            <div class="form-group row">
              <div class="col-sm-6">
                <label>Person Name</label>
                <input type="text" name="name" class="form-control"placeholder="ex: Noxolo" required>
              </div>
              <div class="col-sm-6">
                <label>Surname</label>
                <input type="text" name="surname" class="form-control"  placeholder="ex: NCeba" required>
              </div>
            </div>
            <div class="form-group row">
              <div class="col-sm-6">
                <label>Date Of Birth</label>
                <input type="date" name="b_date" class="form-control"  >
              </div>
              <div class="col-sm-6">
                <label>Date of Death.<small class="text-warning"> If the person is still alive, leave this field empty.</small></label>
                <input type="date" name="d_date" class="form-control">
              </div>
            </div>
            <div class="form-group row">
              <div class="col-sm-6">
                <label>Profession <small class="text-warning"> If this person had many profession please choose only one, the main.</small></label>
                <input type="text" name="profession" class="form-control " id="exampleFirstName" placeholder="ex: Art" >
              </div>
              <div class="col-sm-6">
                <label>Origin</label>
                <input type="text" name="origin" class="form-control " id="exampleFirstName" placeholder="Ex: South African" >
              </div>
            </div>
            <div class="form-group row">
              <div class="col-sm-6">
                <label>Place<small>Please select a place that is related to this person</small> </label>
                <select name="placeId" class="browser-default custom-select" >
                  <option selected>Choose a Place</option>
                  {{with .Places}}
                  {{range .}}
                  <option value={{.Id}}>{{.Title}}</option>
                  {{end}}
                  {{end}}
                </select>
              </div>

              <div class="col-sm-6">
                <label>Category<small></small> </label>
                <select name="categoryId" class="browser-default custom-select" required>
                  <option selected>Choose a Category</option>
                  {{with .Categories}}
                  {{range .}}
                  <option value={{.Id}}>{{.Category}}</option>
                  {{end}}
                  {{end}}
                </select>
              </div>
            </div>
            <div class="form-group">
              <label>Person Brief</label>
              <textarea  name="brief" maxlength="150" class="form-control"placeholder="short description of the person" required></textarea>
            </div>

            <div class="form-group ">
              <label>People Picture</label>
              <input type="file"name="file" class="form-control " id="file" placeholder="Project Name" required>
            </div>


            <div class="form-group">
              <label>History</label>
              <textarea style="height: 200px" name="history" class="form-control" id="mytextare" placeholder="History...."></textarea>
            </div>

            <button type="submit" class="btn btn-primary  btn-block">
              Submit
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>


  <!--Delete warning Modal -->
  <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title text-danger" id="exampleModalLongTitle">Warning</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <h3 class="text-danger text-center"> About to delete the record of:</h3>
          <h4 id="value" class="text-center"></h4>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-danger" id=""><a id="deleteBtn">Delete</a></button>
        </div>
      </div>
    </div>
  </div>

  <!-- Bootstrap core JavaScript-->
  <script src="../../assets/vendor/jquery/jquery.min.js"></script>
  <script src="../../assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Core plugin JavaScript-->
  <script src="../../assets/vendor/jquery-easing/jquery.easing.min.js"></script>

  <!-- Custom scripts for all pages-->
  <script src="../../assets/js/sb-admin-2.min.js"></script>

  <!-- Page level plugins -->
  <script src="../../assets/vendor/datatables/jquery.dataTables.min.js"></script>
  <script src="../../assets/vendor/datatables/dataTables.bootstrap4.min.js"></script>
  <script src="../../assets/js/customer/mymap.js"></script>

  <!-- Page level custom scripts -->
  <script src="../../assets/js/demo/datatables-demo.js"></script>
  <script async defer
          src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBhOdIF3Y9382fqJYt5I_sswSrEw5eihAA&callback=initMap">
  </script>
  <script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.js"></script>


</body>
<script>
  $(document).ready(function() {
    $('#mytextare').summernote();
  });
  function deleteBTN(id,name,surname) {
$("#deleteBtn").attr('href','/admin_user/people/delete/'+id);
$("#value").text(name+' '+surname);
  }
</script>
</html>
