<!DOCTYPE html>
<html lang="zxx" class="no-js">
<head>
    <!-- Mobile Specific Meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Favicon-->
    <link rel="shortcut icon" href="assets/img/fav.png">
    <!-- Author Meta -->
    <meta name="author" content="codepixer">
    <!-- Meta Description -->
    <meta name="description" content="">
    <!-- Meta Keyword -->
    <meta name="keywords" content="">
    <!-- meta character set -->
    <meta charset="UTF-8">
    <!-- Site Title -->
    <title>Art Museum</title>

    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,400,300,500,600,700" rel="stylesheet">
    <!--
    CSS
    ============================================= -->
    <link rel="stylesheet" href="../assets/css/linearicons.css">
    <link rel="stylesheet" href="../assets/css/font-awesome.min.css">
    <link rel="stylesheet" href="../assets/css/bootstrap.css">
    <link rel="stylesheet" href="../assets/css/magnific-popup.css">
    <link rel="stylesheet" href="../assets/css/nice-select.css">
    <link rel="stylesheet" href="../assets/css/animate.min.css">
    <link rel="stylesheet" href="../assets/css/owl.carousel.css">
    <link rel="stylesheet" href="../assets/css/main.css">
</head>
<body>

{{template "navigator"}}

<!-- start banner Area -->
<section class="banner-area relative" id="home">
    <div class="overlay overlay-bg"></div>
    <div class="container">
        <div class="row d-flex align-items-center justify-content-center">
            <div class="about-content col-lg-12">
                <h1 class="text-white">
                    Places
                </h1>
                <p class="text-white link-nav"><a href="index.html">Home </a> <span class="lnr lnr-arrow-right"></span>
                    <a href="places.html"> Places</a></p>
            </div>
        </div>
    </div>
</section>
<!-- End banner Area -->

<!-- Start contact-page Area -->

<div class="row">
    <div class="col-lg-12 col-md-12 text-center">
    <section class="sample-text-area">
        <div class="container">
            <h3 class="text-heading">Simon's Town Historical Map</h3>
            <p class="sample-text">
                Every avid independent filmmaker has <b>Bold</b> about making that <i>Italic</i> interest documentary,
                or short film to show off their creative prowess. Many have great ideas and want to “wow” the<sup>Superscript</sup>
                scene, or video renters with their big project. But once you have the<sub>Subscript</sub> “in the can”
                (no easy feat), how do you move from a
                <del>Strike</del>
                through of master DVDs with the <u>“Underline”</u> marked hand-written title inside a secondhand CD
                case, to a pile of cardboard boxes full of shiny new, retail-ready DVDs, with UPC barcodes and polywrap
                sitting on your doorstep? You need to create eye-popping artwork and have your project replicated. Using
                a reputable full service DVD Replication company like PacificDisc, Inc. to partner with is certainly a
                helpful option to ensure a professional end result, but to help with your DVD replication project, here
                are 4 easy steps to follow for good DVD replication results:
            </p>
        </div>
    </section>

    <a class="navbar-brand" href="#">

    </a>
        <div class="container text-center">
    <div class="map-wrap" style="width:100%; height: 545px; position: center"  id="mapCanvas" >
<!--script>
    var directionsDisplay,
        directionsService,
        map;
    function initMap() {
        var directionsService = new google.maps.DirectionsService();
        directionsDisplay = new google.maps.DirectionsRenderer();
        var PlaceList ={{.Places}};
        console.log(PlaceList);
        Object.keys(PlaceList).forEach((key, index) => {
            //console.log(key ,PlaceList[key]);
            var myLatLng = {lat: PlaceList[key].latitude, lng: PlaceList[key].longitude.trim()};

            console.log(myLatLng);
            alert(myLatLng);
            var map = new google.maps.Map(document.getElementById('mymap'), {
                zoom: 4,
                center: myLatLng
            });

            var marker = new google.maps.Marker({
                position: myLatLng,
                map: map,
                title: PlaceList[key].title
            });
        });
        // for (var key in PlaceList) {
        //     if (PlaceList.hasOwnProperty(key)) {
        //         console.log(key + " -> " + PlaceList[key]);
        //     }
        // }

    }
</script-->

        <script>
            var markers = null;
            var infoWindowContent = null
            var myMarkerList = new Array();
            var myInfoWindowList = new Array();
            function initMap() {
                var PlaceList ={{.Places}};
                // Object.keys(PlaceList).forEach((key,index)=>{
                //     //console.log(key,PlaceList[key])
                //     markers = [[(PlaceList[key].title,PlaceList[key].latitude, PlaceList[key].longitude)]];
                //     infoWindowContent =[[('<div class="info_content">' +
                //         '<h3>Brooklyn Museum</h3>' +
                //         '<p>The Brooklyn Museum is an art museum located in the New York City borough of Brooklyn.</p>' + '</div>')]];
                // })
               // console.log('myMarkerList :'+myMarkerList);
                var map;
                var bounds = new google.maps.LatLngBounds();
                var mapOptions = {
                    mapTypeId: 'roadmap'
                };


                // Display a map on the web page
                map = new google.maps.Map(document.getElementById("mapCanvas"), mapOptions);
                map.setTilt(50);

                // Multiple markers location, latitude, and longitude
                // markers = [myMarkerList];

                // Info window content
                //infoWindowContent = [myInfoWindowList];

                // Add multiple markers to map
                var infoWindow = new google.maps.InfoWindow(), marker, i;

                // Place each marker on the map
                for( i = 0; i < PlaceList.length; i++ ) {
                    console.log('myMarkerList :'+PlaceList[i].description);
                    var position = new google.maps.LatLng(PlaceList[i].latitude, PlaceList[i].longitude);
                    bounds.extend(position);
                    marker = new google.maps.Marker({
                        position: position,
                        map: map,
                        title: PlaceList[i].title
                    });

                    // Add info window to marker PlaceList[i].description
                    google.maps.event.addListener(marker, 'click', (function(marker, i) {
                        return function() {
                            infoWindow.setContent('<div class="info_content">' +
                                     '<h3>'+PlaceList[i].title+'</h3>' +
                                     '<p>'+PlaceList[i].description+'</p>' + '</div>');
                            infoWindow.open(map, marker);
                            infoWindow.size(10);
                        }
                    })(marker, i));

                    // Center the map to fit all markers on the screen
                    map.fitBounds(bounds);
                }

                // Set zoom level
                var boundsListener = google.maps.event.addListener((map), 'bounds_changed', function(event) {
                    this.setZoom(14);
                    google.maps.event.removeListener(boundsListener);
                });

            }
            // Load initialize function
            google.maps.event.addDomListener(window, 'load', initMap);
        </script>
    </div>
        </div>
    </div>
</div>

<!-- End contact-page Area -->

<!-- start footer Area -->
{{template "footer" .}}
<!-- End footer Area -->

<script src="../assets/js/vendor/jquery-2.2.4.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="../assets/js/vendor/bootstrap.min.js"></script>
<script
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBhOdIF3Y9382fqJYt5I_sswSrEw5eihAA&callback=initMap">
</script>
<script src="../assets/js/easing.min.js"></script>
<script src="../assets/js/hoverIntent.js"></script>
<script src="../assets/js/superfish.min.js"></script>
<script src="../assets/js/jquery.ajaxchimp.min.js"></script>
<script src="../assets/js/jquery.magnific-popup.min.js"></script>
<script src="../assets/js/owl.carousel.min.js"></script>
<script src="../assets/js/imagesloaded.pkgd.min.js"></script>
<script src="../assets/js/justified.min.js"></script>
<script src="../assets/js/jquery.sticky.js"></script>
<script src="../assets/js/jquery.nice-select.min.js"></script>
<script src="../assets/js/parallax.min.js"></script>
<script src="../assets/js/mail-script.js"></script>
<script src="../assets/js/main.js"></script>
<script src="../assets/js/customer/map_for_place_page.js"></script>
</body>
</html>



