<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>SB Admin 2 - Tables</title>

  <!-- Custom fonts for this template -->
  <link href="../../assets/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="../../assets/css/sb-admin-2.min.css" rel="stylesheet">

  <!-- Custom styles for this page -->
  <link href="../../assets/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">

  <link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.css" rel="stylesheet">

</head>

<body id="page-top">

  <!-- Page Wrapper -->
  <div id="wrapper">

    <!-- Sidebar -->
    {{template "navbar" .}}
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

      <!-- Main Content -->
      <div id="content">

        <!-- Topbar -->
        {{template "topbar" .}}
        <!-- End of Topbar -->

        <!-- Begin Page Content -->
        <div class="container-fluid">

          <!-- Page Heading -->
          {{if .Backend_error}}
            <div class="text-center alert-warning">
              <a class="small" href="#">{{.Backend_error}}</a>
            </div>
          {{end}}
          {{if .Unknown_error}}
            <div class="text-center alert-warning">
              <a class="small" href="#">{{.Unknown_error}}</a>
            </div>
          {{end}}

          <div class="card shadow mb-4">
            <!-- Card Header - Accordion -->
            <a href="#collapseCardExample" class="d-block card-header py-3 btn-success" data-toggle="collapse"
               role="button" aria-expanded="true" aria-controls="collapseCardExample">
              <h6 class="m-0 font-weight-bold " style="color: #0b0b0b">Create a new Collection</h6>
            </a>
            <!-- Card Content - Collapse -->
            <div class="collapse " id="collapseCardExample">
              <div class="card-body p-0">
                <!-- Nested Row within Card Body -->
                <div class="row">
                  <div class="col-lg-12">
                    <div class="p-5">
                      <div class="text-center">
                        <h1 class="h4 text-gray-900 mb-4">New Collection </h1>
                      </div>
                      <form class="user" method="post" action="/admin_user/collection/create_stp1">
                        <div class="form-group row">
                          <div class="col-sm-6 mb-3 mb-sm-0">
                            <label>Collection Name</label>
                            <input type="text" class="form-control " id="exampleFirstName"name="collection_name" placeholder="">
                          </div>
                          <div class="col-sm-6">
                            <label>Collection type</label>
                            <select name="collectionId" class="browser-default custom-select">
                              <option selected>Choose a Collection Type</option>
                              {{with .CollectionType}}
                                {{range .}}
                                  <option value={{.Id}}>{{.Name}}</option>
                                {{end}}
                              {{end}}
                            </select>
                          </div>
                        </div>
                        <div class="form-group ">
                          <label>Description <small> Only 150 characters </small></label>
                          <textarea class="form-control" name="brief" maxlength="200"></textarea>
                        </div>
                        <div class="form-group">
                          <label>Collection detaille/History</label>
                          <textarea style="height: 200px" class="form-control " id="mytextare" name="history" placeholder="description"></textarea>
                        </div>

                        <button type="submit" class="btn btn-primary  btn-block">
                          Next
                        </button>
                        <hr>
                        <a href="/admin_user" class="btn btn-google  btn-block">Cancel</a>
                      </form>
                      <hr>
                    </div>
                  </div>
                </div>
              </div>

            </div>
          </div>



          <!-- DataTales Example -->
          <div class="card shadow mb-4">
            <div class="card-header py-3">
              <h6 class="m-0 font-weight-bold text-primary">User Table</h6>
            </div>
            <div class="card-body">
              <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                  <thead>
                    <tr>
                      <th>Nr</th>
                      <th>Collection Name</th>
                      <th>Collection Type</th>
                      <th>Action</th>
                      <th>Action</th>
                    </tr>
                  </thead>
                  <tfoot>
                    <tr>
                      <th>Nr</th>
                      <th>Collection Name</th>
                      <th>Collection Type</th>
                      <th>Action</th>
                      <th>Action</th>
                    </tr>
                  </tfoot>
                  <tbody>
                  {{with .Collections}}
                  {{range $i, $e := .}}
                    <tr>
                      <td>{{$i}}</td>
                      <td>{{.Collection.Name}}</td>
                      <td>{{.CollectionType.Name}}</td>
                      <td><a href="/admin_user/collection/edit/{{.Collection.Id}}" class="btn btn-primary btn-user btn-block">
                          Edit
                        </a>
                      </td>
                      <td><a class="btn btn-danger btn-block" data-toggle="modal" onclick="deleteCollectionBTN({{.Collection.Id}},{{.Collection.Name}})" data-target="#exampleModalDeleteCollection">Delete
                        </a>
                      </td>
                    </tr>
                  {{end}}
                  {{end}}
                  </tbody>
                </table>
              </div>
            </div>
          </div>

        </div>
        <!-- /.container-fluid -->

      </div>
      <!-- End of Main Content -->

      <!-- Footer -->
      <footer class="sticky-footer bg-white">
        <div class="container my-auto">
          <div class="copyright text-center my-auto">
            <span>Copyright &copy; Your Website 2019</span>
          </div>
        </div>
      </footer>
      <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

  </div>
  <!-- End of Page Wrapper -->

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>

  <!-- Logout Modal-->
  <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
        <div class="modal-footer">
          <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
          <a class="btn btn-primary" href="login.html">Logout</a>
        </div>
      </div>
    </div>
  </div>

  <!--Delete warning Modal -->
  <div class="modal fade" id="exampleModalDeleteCollection" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title text-danger" id="exampleModalLongTitle">Warning</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p  class="text-center text-warning">Be careful when deleting collection types There maybe some collection linked to this type! </p>
          <h3 class="text-danger text-center"> About to delete the record of:</h3>
          <h2 id="deleteValue" class="text-center text-info"></h2>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-dismiss="modal">Cancel</button>
          <a class="btn btn-danger" id="deleteBtn">Delete</a>
        </div>
      </div>
    </div>
  </div>

  <!-- Bootstrap core JavaScript-->
  <script src="../../assets/vendor/jquery/jquery.min.js"></script>
  <script src="../../assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Core plugin JavaScript-->
  <script src="../../assets/vendor/jquery-easing/jquery.easing.min.js"></script>

  <!-- Custom scripts for all pages-->
  <script src="../../assets/js/sb-admin-2.min.js"></script>

  <!-- Page level plugins -->
  <script src="../../assets/vendor/datatables/jquery.dataTables.min.js"></script>
  <script src="../../assets/vendor/datatables/dataTables.bootstrap4.min.js"></script>

  <!-- Page level custom scripts -->
  <script src="../../assets/js/demo/datatables-demo.js"></script>

  <script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.js"></script>

</body>
<script>
  $(document).ready(function() {
    $('#mytextare').summernote();
  });
  function deleteCollectionBTN(id,name) {
    $("#deleteBtn").attr('href','/admin_user/collection/delete/collection/'+id);
    $("#deleteValue").text(name);
  }
  </script>
</html>
