{{define "navbar"}}
<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/admin_user">
        <div class="sidebar-brand-icon rotate-n-15">
            <i class="fas fa-laugh-wink"></i>
        </div>
        <div class="sidebar-brand-text mx-3">OSTM Admin</div>
    </a>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <!-- Nav Item - Dashboard -->
    <li class="nav-item active">
        <a class="nav-link" href="/admin_user">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Dashboard</span></a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Heading -->
    <div class="sidebar-heading">
        Interface
    </div>

    <!-- Nav Item - Pages Collapse Menu -->
    <li class="nav-item">
        <a class="nav-link collapsed " href="/admin_user/users" data-toggle="collapse" data-target="#collapseUser" aria-expanded="true" aria-controls="collapseTwo">
            <i class="fas fa-fw fa-cog"></i>
            <span>Users</span>
        </a>
        <div id="collapseUser" class="collapse {{if eq .SidebarData.Menu "user"}} show {{end}}" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">Custom Components:</h6>
                <a class="collapse-item {{if eq .SidebarData.Submenu "user"}} active {{end}}" href="/admin_user/users">Users</a>
                <a class="collapse-item {{if eq .SidebarData.Submenu "role"}} active {{end}}" href="/admin_user/role">User Roles</a>
            </div>
        </div>
    </li>


    <li class="nav-item">
        <a class="nav-link collapsed " href="/admin_user/event" data-toggle="collapse" data-target="#collapseYear" aria-expanded="true" aria-controls="collapseTwo">
            <i class="fas fa-fw fa-cog"></i>
            <span>Event</span>
        </a>
        <div id="collapseYear" class="collapse {{if eq .SidebarData.Menu "event"}} show {{end}}" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">Custom Components:</h6>
                <a class="collapse-item {{if eq .SidebarData.Submenu "event"}} active {{end}}" href="/admin_user/event">Event</a>
                <a class="collapse-item {{if eq .SidebarData.Submenu "year"}} active {{end}}" href="/admin_user/years">Years</a>
            </div>
        </div>
    </li>




    <li class="nav-item {{if eq .SidebarData.Menu "project"}} active {{end}}">
        <a class="nav-link " href="/admin_user/project">
            <i class="fas fa-fw fa-chart-area"></i>
            <span>Project</span></a>
    </li>
    <li class="nav-item {{if eq .SidebarData.Menu "history"}} active {{end}}">
        <a class="nav-link " href="/admin_user/history">
            <i class="fas fa-fw fa-chart-area"></i>
            <span>History</span></a>
    </li>

    <li class="nav-item {{if eq .SidebarData.Menu "place"}} active {{end}}">
        <a class="nav-link " href="/admin_user/place">
            <i class="fas fa-fw fa-chart-area"></i>
            <span>Place</span></a>
    </li>

    <li class="nav-item {{if eq .SidebarData.Menu "people"}} active {{end}}">
        <a class="nav-link collapsed " href="/admin_user/people" data-toggle="collapse" data-target="#collapsePeople" aria-expanded="true" aria-controls="collapseTwo">
            <i class="fas fa-fw fa-cog"></i>
            <span>People</span>
        </a>
        <div id="collapsePeople" class="collapse {{if eq .SidebarData.Menu "people"}} show {{end}}" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">Custom Components:</h6>
                <a class="collapse-item {{if eq .SidebarData.Submenu "people"}} active {{end}}" href="/admin_user/people">Peoples</a>
                <a class="collapse-item {{if eq .SidebarData.Submenu "people_category"}} active {{end}}" href="/admin_user/people/people_category/new">People category</a>
            </div>
        </div>
    </li>

    <!-- Nav Item - Pages Collapse Menu -->
    <li class="nav-item {{if eq .SidebarData.Menu "collection"}} active {{end}}">
        <a class="nav-link collapsed " href="/admin_user/collection" data-toggle="collapse" data-target="#collapseCollection" aria-expanded="true" aria-controls="collapseTwo">
            <i class="fas fa-fw fa-cog"></i>
            <span>Collections</span>
        </a>
        <div id="collapseCollection" class="collapse {{if eq .SidebarData.Menu "collection"}} show {{end}}" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">Custom Components:</h6>
                <a class="collapse-item {{if eq .SidebarData.Submenu "collection"}} active {{end}}" href="/admin_user/collection">Collections</a>
                <a class="collapse-item {{if eq .SidebarData.Submenu "collection-type"}} active {{end}}" href="/admin_user/collection/collection_type">Collection type</a>
            </div>
        </div>
    </li>

    <li class="nav-item {{if eq .SidebarData.Menu "partner"}} active {{end}}">
        <a class="nav-link" href="/admin_user/partner">
            <i class="fas fa-fw fa-chart-area"></i>
            <span>Partners</span></a>
    </li>

    <li class="nav-item {{if eq .SidebarData.Menu "group"}} active {{end}}">
        <a class="nav-link " href="/admin_user/group">
            <i class="fas fa-fw fa-chart-area"></i>
            <span>Group</span></a>
    </li>

    <!-- Nav Item - Utilities Collapse Menu -->

    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Heading -->
    <div class="sidebar-heading">
        Addons
    </div>

    <!-- Nav Item - Pages Collapse Menu -->
    <li class="nav-item {{if eq .SidebarData.Menu "page"}} active {{end}}" >
        <a class="nav-link collapsed " href="#" data-toggle="collapse" data-target="#collapsePages" aria-expanded="true" aria-controls="collapsePages">
            <i class="fas fa-fw fa-folder"></i>
            <span>Pages</span>
        </a>
        <div id="collapsePages" class="collapse {{if eq .SidebarData.Menu "page"}} show {{end}}" aria-labelledby="headingPages" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">client pages:</h6>
<!--                    <a class="collapse-item" href="#">Create a page</a>-->
                    <a class="collapse-item" href="/admin_user/page">Create a page</a>

                {{with .SidebarData.PageData}}
                    {{range .}}
                <a class="collapse-item {{if eq $.SidebarData.Submenu .Id}} active {{end}}" href="/admin_user/page/edit/{{.Id}}">{{.PageName}}</a>
                    {{end}}
                {{end}}
            </div>
        </div>
    </li>

    <!-- Nav Item - Charts -->
    <li class="nav-item {{if eq .SidebarData.Menu "slider"}} active {{end}}">
        <a class="nav-link" href="/admin_user/slider">
            <i class="fas fa-fw fa-chart-area"></i>
            <span>Home Slider</span></a>
    </li>

    <!-- Nav Item - Charts -->
    <li class="nav-item {{if eq .SidebarData.Menu "setting"}} active {{end}}">
        <a class="nav-link" href="/admin_user/contribution">
            <i class="fas fa-fw fa-chart-area"></i>
            <span>Settings</span></a>
    </li>

    <!-- Nav Item - Charts -->
    <li class="nav-item {{if eq .SidebarData.Menu "contribution"}} active {{end}}">
    <a class="nav-link" href="/admin_user/contribution/contribution">
        <i class="fas fa-fw fa-chart-area"></i>
        <span>Contribution</span></a>
    </li>
<!-- Nav Item - Charts -->
    <li class="nav-item {{if eq .SidebarData.Menu "booking"}} active {{end}}">
    <a class="nav-link" href="/admin_user/booking">
        <i class="fas fa-fw fa-chart-area"></i>
        <span>Bookings</span></a>
    </li>

    <!-- Nav Item - Tables -->
    <li class="nav-item">
        <a class="nav-link" href="#">
            <i class="fas fa-fw fa-table"></i>
            <span>User Comments</span></a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider d-none d-md-block">

    <!-- Sidebar Toggler (Sidebar) -->
    <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
    </div>

</ul>
{{end}}
