<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>SB Admin 2 - Cards</title>
  <base href="/">
  <!-- Custom fonts for this template-->
  <link href="../../assets/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

  <!-- Custom styles for this template-->
  <link href="../../assets/css/sb-admin-2.min.css" rel="stylesheet">

  <script src="https://cdn.tiny.cloud/1/tmo7wwuvihuwqom08gjvonhdda8blx4on0n7jvm1i4pq2coh/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
<script>
  tinymce.init({
    selector: '#mytextare'
  });
</script>

</head>

<body id="page-top">

  <!-- Page Wrapper -->
  <div id="wrapper">

    <!-- Sidebar -->
    {{template "navbar" .}}
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

      <!-- Main Content -->
      <div id="content">

        <!-- Topbar -->
        <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

          <!-- Sidebar Toggle (Topbar) -->
          <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
            <i class="fa fa-bars"></i>
          </button>

          <!-- Topbar Search -->
          <form class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
            <div class="input-group">
              <input type="text" class="form-control bg-light border-0 small" placeholder="Search for..." aria-label="Search" aria-describedby="basic-addon2">
              <div class="input-group-append">
                <button class="btn btn-primary" type="button">
                  <i class="fas fa-search fa-sm"></i>
                </button>
              </div>
            </div>
          </form>

          <!-- Topbar Navbar -->
          <ul class="navbar-nav ml-auto">

            <!-- Nav Item - Search Dropdown (Visible Only XS) -->
            <li class="nav-item dropdown no-arrow d-sm-none">
              <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-search fa-fw"></i>
              </a>
              <!-- Dropdown - Messages -->
              <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in" aria-labelledby="searchDropdown">
                <form class="form-inline mr-auto w-100 navbar-search">
                  <div class="input-group">
                    <input type="text" class="form-control bg-light border-0 small" placeholder="Search for..." aria-label="Search" aria-describedby="basic-addon2">
                    <div class="input-group-append">
                      <button class="btn btn-primary" type="button">
                        <i class="fas fa-search fa-sm"></i>
                      </button>
                    </div>
                  </div>
                </form>
              </div>
            </li>

            <!-- Nav Item - Alerts -->
            <li class="nav-item dropdown no-arrow mx-1">
              <a class="nav-link dropdown-toggle" href="#" id="alertsDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-bell fa-fw"></i>
                <!-- Counter - Alerts -->
                <span class="badge badge-danger badge-counter">3+</span>
              </a>
              <!-- Dropdown - Alerts -->
              <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="alertsDropdown">
                <h6 class="dropdown-header">
                  Alerts Center
                </h6>
                <a class="dropdown-item d-flex align-items-center" href="#">
                  <div class="mr-3">
                    <div class="icon-circle bg-primary">
                      <i class="fas fa-file-alt text-white"></i>
                    </div>
                  </div>
                  <div>
                    <div class="small text-gray-500">December 12, 2019</div>
                    <span class="font-weight-bold">A new monthly report is ready to download!</span>
                  </div>
                </a>
                <a class="dropdown-item d-flex align-items-center" href="#">
                  <div class="mr-3">
                    <div class="icon-circle bg-success">
                      <i class="fas fa-donate text-white"></i>
                    </div>
                  </div>
                  <div>
                    <div class="small text-gray-500">December 7, 2019</div>
                    $290.29 has been deposited into your account!
                  </div>
                </a>
                <a class="dropdown-item d-flex align-items-center" href="#">
                  <div class="mr-3">
                    <div class="icon-circle bg-warning">
                      <i class="fas fa-exclamation-triangle text-white"></i>
                    </div>
                  </div>
                  <div>
                    <div class="small text-gray-500">December 2, 2019</div>
                    Spending Alert: We've noticed unusually high spending for your account.
                  </div>
                </a>
                <a class="dropdown-item text-center small text-gray-500" href="#">Show All Alerts</a>
              </div>
            </li>

            <!-- Nav Item - Messages -->
            <li class="nav-item dropdown no-arrow mx-1">
              <a class="nav-link dropdown-toggle" href="#" id="messagesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-envelope fa-fw"></i>
                <!-- Counter - Messages -->
                <span class="badge badge-danger badge-counter">7</span>
              </a>
              <!-- Dropdown - Messages -->
              <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="messagesDropdown">
                <h6 class="dropdown-header">
                  Message Center
                </h6>
                <a class="dropdown-item d-flex align-items-center" href="#">
                  <div class="dropdown-list-image mr-3">
                    <img class="rounded-circle" src="https://source.unsplash.com/fn_BT9fwg_E/60x60" alt="">
                    <div class="status-indicator bg-success"></div>
                  </div>
                  <div class="font-weight-bold">
                    <div class="text-truncate">Hi there! I am wondering if you can help me with a problem I've been having.</div>
                    <div class="small text-gray-500">Emily Fowler · 58m</div>
                  </div>
                </a>
                <a class="dropdown-item d-flex align-items-center" href="#">
                  <div class="dropdown-list-image mr-3">
                    <img class="rounded-circle" src="https://source.unsplash.com/AU4VPcFN4LE/60x60" alt="">
                    <div class="status-indicator"></div>
                  </div>
                  <div>
                    <div class="text-truncate">I have the photos that you ordered last month, how would you like them sent to you?</div>
                    <div class="small text-gray-500">Jae Chun · 1d</div>
                  </div>
                </a>
                <a class="dropdown-item d-flex align-items-center" href="#">
                  <div class="dropdown-list-image mr-3">
                    <img class="rounded-circle" src="https://source.unsplash.com/CS2uCrpNzJY/60x60" alt="">
                    <div class="status-indicator bg-warning"></div>
                  </div>
                  <div>
                    <div class="text-truncate">Last month's report looks great, I am very happy with the progress so far, keep up the good work!</div>
                    <div class="small text-gray-500">Morgan Alvarez · 2d</div>
                  </div>
                </a>
                <a class="dropdown-item d-flex align-items-center" href="#">
                  <div class="dropdown-list-image mr-3">
                    <img class="rounded-circle" src="https://source.unsplash.com/Mv9hjnEUHR4/60x60" alt="">
                    <div class="status-indicator bg-success"></div>
                  </div>
                  <div>
                    <div class="text-truncate">Am I a good boy? The reason I ask is because someone told me that people say this to all dogs, even if they aren't good...</div>
                    <div class="small text-gray-500">Chicken the Dog · 2w</div>
                  </div>
                </a>
                <a class="dropdown-item text-center small text-gray-500" href="#">Read More Messages</a>
              </div>
            </li>

            <div class="topbar-divider d-none d-sm-block"></div>

            <!-- Nav Item - User Information -->
            <li class="nav-item dropdown no-arrow">
              <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="mr-2 d-none d-lg-inline text-gray-600 small">Valerie Luna</span>
                <img class="img-profile rounded-circle" src="https://source.unsplash.com/QAB-WJcbgJk/60x60">
              </a>
              <!-- Dropdown - User Information -->
              <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
                <a class="dropdown-item" href="#">
                  <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                  Profile
                </a>
                <a class="dropdown-item" href="#">
                  <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
                  Settings
                </a>
                <a class="dropdown-item" href="#">
                  <i class="fas fa-list fa-sm fa-fw mr-2 text-gray-400"></i>
                  Activity Log
                </a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                  <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                  Logout
                </a>
              </div>
            </li>

          </ul>

        </nav>
        <!-- End of Topbar -->

        <!-- Begin Page Content -->
        <div class="container-fluid">

          <!-- Page Heading -->
          <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">Cards</h1>
          </div>

          <div class="row">

            <!-- Earnings (Monthly) Card Example -->
            <div class="col-xl-3 col-md-6 mb-4">
              <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Earnings (Monthly)</div>
                      <div class="h5 mb-0 font-weight-bold text-gray-800">$40,000</div>
                    </div>
                    <div class="col-auto">
                      <i class="fas fa-calendar fa-2x text-gray-300"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- Earnings (Monthly) Card Example -->
            <div class="col-xl-3 col-md-6 mb-4">
              <div class="card border-left-success shadow h-100 py-2">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-success text-uppercase mb-1">Earnings (Annual)</div>
                      <div class="h5 mb-0 font-weight-bold text-gray-800">$215,000</div>
                    </div>
                    <div class="col-auto">
                      <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- Earnings (Monthly) Card Example -->
            <div class="col-xl-3 col-md-6 mb-4">
              <div class="card border-left-info shadow h-100 py-2">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-info text-uppercase mb-1">Tasks</div>
                      <div class="row no-gutters align-items-center">
                        <div class="col-auto">
                          <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">50%</div>
                        </div>
                        <div class="col">
                          <div class="progress progress-sm mr-2">
                            <div class="progress-bar bg-info" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-auto">
                      <i class="fas fa-clipboard-list fa-2x text-gray-300"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- Pending Requests Card Example -->
            <div class="col-xl-3 col-md-6 mb-4">
              <div class="card border-left-warning shadow h-100 py-2">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">Pending Requests</div>
                      <div class="h5 mb-0 font-weight-bold text-gray-800">18</div>
                    </div>
                    <div class="col-auto">
                      <i class="fas fa-comments fa-2x text-gray-300"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!---Event Images---->

          <div class="card shadow mb-4">
            <!-- Card Header - Accordion -->
            <a href="#collapseCardImage" class="d-block card-header py-3 btn-success" data-toggle="collapse"
               role="button" aria-expanded="true" aria-controls="collapseCardExample">
              <h6 class="m-0 font-weight-bold " style="color: #0b0b0b">Event Image</h6>
            </a>
            <!-- Card Content - Collapse -->
            <div class="collapse show" id="collapseCardImage">
              <div class="card-body p-0">
                <!-- Nested Row within Card Body -->
                <div class="row">
                  <div class="col-lg-6">
                    <div class="p-5">
                      <div class="text-center">
                        <h1 class="h4 text-gray-900 mb-4">Event Picture </h1>
                      </div>
                      <div class="col-lg-12">
                        <!-- Default Card Example -->
                        {{if .EventData.Images}}
                          {{with .EventData.Images}}
                            {{range $i,$e :=.}}
                              <div class="card mb-4">
                                {{if eq $i 0 }}
                                  <div class="card-header py-3">
                                    <h6 class="m-0 font-weight-bold text-primary">First Project Image</h6>
                                  </div>
                                {{else}}
                                  <div class="card-header py-3">
                                    <h6 class="m-0 font-weight-bold text-primary">Second Project Image</h6>
                                  </div>
                                {{end}}

                                <div class="card-body">
                                  {{if .Id}}
                                    <img class="card-img" style="width:100%;height:312px;"
                                         id='base64image'

                                         src='data:image/jpeg;base64,{{.Id}}' alt=""/>
                                  {{end}}
                                  <div class="text-center">
                                    <h1 class="h4 text-gray-900 mb-4">You can update this image here</h1>
                                  </div>
                                  <form class="user"method="post" id="" action="/admin_user/people/update_image" enctype="multipart/form-data">
                                    <input type="hidden"name="imageId" value="{{.ImageId}}" class="form-control " >
                                    <input type="hidden"name="eventId" value="{{.EventImageId}}" class="form-control " >
                                    <input type="hidden"name="eventId" value="{{$.EventData.Event.Id}}" class="form-control " >
                                    <div class="form-group row">
                                      <div class="col-sm-6">
                                        <select name="imageType" class="browser-default custom-select" required>
                                          <option selected>Picture type</option>
                                          <option value="1">Profile image</option>
                                          <option value="2">Secondary Image</option>
                                        </select>
                                      </div>
                                      <div class="col-sm-6">
                                        <input type="file"name="file" class="form-control " required>
                                      </div>
                                    </div>
                                    <button type="submit" class="btn btn-primary btn-block">
                                      Complete
                                    </button>
                                  </form>
                                </div>
                              </div>
                            {{end}}
                          {{end}}
                        {{else}}
                          <div class="text-center">
                            <h1 class="h4 text-gray-900 mb-4">You have no pictures for this Event, Please Upload pictures</h1>
                          </div>
                          <form class="user"method="post" action="/admin_user/event/update_pictures" enctype="multipart/form-data">
                            <input type="hidden"name="peopleId" value="{{.EventData.Event.Id}}" required>
                            <div class="form-group ">
                              <label>Project profile Picture</label>
                              <input type="file"name="file" class="form-control " id="file" placeholder="Project Name" required>
                            </div>

                            <div class="form-group  row" id="filesArea"></div>
                            <div class="form-group row" >
                              <div class="col-sm-6" >
                                <button type="button" id="add_form_field" class="btn btn-primary  btn-block">
                                  Add a picture
                                </button>
                              </div>
                            </div>

                            <button type="submit" class="btn btn-primary btn-block">
                              Add
                            </button>
                          </form>
                        {{end}}
                      </div>
                      <hr>
                    </div>
                  </div>

                    <div class="col-lg-12 text-center">
                        <hr>
                    <button id="toAdd" class="btn btn-primary btn-block col-lg-12" onclick="showAddPictureForm()">
                        Add pictures
                    </button>
                    <form id="addPicture" class="user col-lg-12"method="post" action="/admin_user/event/add_pictures" enctype="multipart/form-data" hidden>
                        <div class="text-center">
                            <h1 class="h4 text-gray-900 mb-4">Add Pictures</h1>
                        </div>
                        <input type="hidden"name="peopleId" value="{{.EventData.Event.Id}}" required>
                        <div class="form-group ">
                            <label>Project profile Picture</label>
                            <input type="file"name="file" class="form-control " id="file" placeholder="Project Name" required>
                        </div>

                        <div class="form-group  row" id="filesArea"></div>
                        <div class="form-group row" >
                            <div class="col-sm-6" >
                                <button type="button" id="add_form_field" class="btn btn-primary btn-block">
                                    Add a picture
                                </button>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary btn-block">
                            Add
                        </button>
                        <hr>
                    </form>
                    </div>
                </div>
              </div>
            </div>
          </div>

          <!---Event Detail---->
          <div class="card shadow mb-4">
            <!-- Card Header - Accordion -->
            <a href="#collapseCardDetails" class="d-block card-header py-3 btn-success" data-toggle="collapse"
               role="button" aria-expanded="true" aria-controls="collapseCardExample">
              <h6 class="m-0 font-weight-bold " style="color: #0b0b0b">Event Details</h6>
            </a>
            <!-- Card Content - Collapse -->
            <div class="collapse " id="collapseCardDetails">
              <div class="card-body p-0">
                <!-- Nested Row within Card Body -->
                <div class="row">
                      <div class="col-lg-12">
                        <!-- Default Card Example -->
                        <div class="card mb-4">
                          <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary"> Details</h6>
                          </div>
                          <div class="card-body">
                            <form class="user"method="post" id="" action="/admin_user/event/update_details">
                              <input type="hidden"name="eventId" value="{{.EventData.Event.Id}}" class="form-control " >

                              <div class="form-group ">
                                <input type="text" class="form-control" value="{{.EventData.Event.Name}}" name="event_name" id="exampleFirstName" placeholder="Project Name">
                              </div>

                              <div class="form-group">
                                <input type="text" class="form-control" value="{{.EventData.Event.Date}}" name="date" id="exampleFirstName" placeholder="Project Name">
                              </div>

                              <div class="form-group row">
                                <div class="col-sm-6">
                                  <select name="projectId" id="projectDrop" class="browser-default custom-select" onchange="checkSelectedProject({{.EventData.Projects.Id}})"
                                          required>
                                    <option selected>Choose a project</option>
                                    {{with .Projects}}
                                      {{range .}}
                                        <option value="{{.Id}}" {{if eq $.EventData.Projects.Id .id}}selected{{end}}>{{.Title}}</option>
                                      {{end}}
                                    {{end}}
                                  </select>
                                </div>
                              </div>

                              <div class="form-group ">
                                <label>Description <small> Only 150 characters </small></label>
                                <textarea class="form-control" name="description" maxlength="200">{{.EventData.Event.Description}}</textarea>
                              </div>
                              <button type="submit" class="btn btn-primary btn-block">
                                Complete
                              </button>
                            </form>
                          </div>
                        </div>

                        <!-- Basic Card Example -->
                        <div class="card shadow mb-4">
                          <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary">Event Place</h6>
                          </div>
                          <div class="card-body">


                            <form class="user"method="post" id="" action="/admin_user/event/update_place">

                              <input type="hidden"name="eventId" value="{{.EventData.Event.Id}}" class="form-control">
                              <input type="hidden"name="PlaceId" value="{{..EventData.Place.Id}}" class="form-control">
                              <div class="form-group">
                                <label>Lacation Cordinates</label>
                                <input type="text" class="form-control" name="description" placeholder="Location name" required>
                              </div>

                              <div class="form-group">
                                <label>Lacation Cordinates<small> click on the map to get the
                                    coordinates</small> </label>
                                <input type="text" class="form-control" name="latlng"
                                       id="exampleRepeatPassword" placeholder="Map coordinates"
                                       required>
                              </div>
                            </form>


                          </div>
                        </div>

                        <div class="card shadow mb-4">
                          <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary">Event Partners</h6>
                          </div>
                          <div class="card-body">
                            <!-- DataTales Example -->
                            <div class="card shadow mb-4">
                              <div class="card-header py-3">
                                <h6 class="m-0 font-weight-bold text-primary">Partners</h6>
                              </div>
                              <div class="card-body">
                                <div class="table-responsive">
                                  <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                    <thead>
                                    <tr>
                                      <th>Nr</th>
                                      <th>Partner Name</th>
                                      <th>Link</th>
                                      <th>Action</th>
                                      <th>Action</th>
                                    </tr>
                                    </thead>
                                    <tfoot>
                                    <tr>
                                      <th>Nr</th>
                                      <th>Partner Name</th>
                                      <th>Link</th>
                                      <th>Action</th>
                                      <th>Action</th>
                                    </tr>
                                    </tfoot>
                                    <tbody>
                                    {{with .EventData.Partners}}
                                      {{range $i, $e := .}}
                                        <tr>
                                          <td>{{$i}}</td>
                                          <td>{{.Name}}</td>
                                          <td>{{.Link}}</td>
                                          <td><a href="/admin_user/event/edit/{{.Id}}" class="btn btn-primary btn-user btn-block">
                                              Edit
                                            </a>
                                          </td>
                                          <td><a href="/admin_user/event/delete/{{.Id}}" class="btn btn-google btn-user btn-block">
                                              <i class="fab fa-fw"></i> Delete
                                            </a>
                                          </td>
                                        </tr>
                                      {{end}}
                                    {{end}}
                                    </tbody>
                                  </table>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <hr>
                </div>
              </div>
            </div>
          </div>

          <!---People History---->
          <div class="card shadow mb-4">
            <!-- Card Header - Accordion -->
            <a href="#collapseCardStep2" class="d-block card-header py-3 btn-success" data-toggle="collapse"
               role="button" aria-expanded="true" aria-controls="collapseCardExample">
              <h6 class="m-0 font-weight-bold " style="color: #0b0b0b">Event History</h6>
            </a>
            <!-- Card Content - Collapse -->
            <div class="collapse " id="collapseCardStep2">
              <div class="card-body"  >
                {{if not .EventData.History.History}}
                  <form method="post" action="/admin_user/event/update_history">
                    <div class="form-group" >
                      <input name="historyId" value="{{.EventData.History.Id}}" hidden>
                      <input name="eventId" value="{{.EventData.event.Id}}" hidden>
                      <div class="form-group">
                        <label>Add History</label>
                        <textarea id="mytextare" class="form-control"  name="myArea"></textarea>
                      </div>

                    </div>
                    <div class="form-group text-center" >
                      <button class="btn btn-info" id="formUpdateButton" type="submit">update</button>
                    </div>
                  </form>
                {{else}}
                  <div class="form-group " id="two" ></div>
                  <div class="form-group " id="me" >
                    <script>
                      var div= document.getElementById('me');
                      var myvalue = {{.EventData.History.History}}
                              parseMe(myvalue);
                      function parseMe(value) {
                        div.innerHTML+=value;
                      }
                    </script>
                  </div>
                  <hr>
                  <div class="form-group">
                    <form method="post" action="/admin_user/people/update_history">
                      <div class="form-group" >
                        <input name="historyId" value="{{.EventData.History.Id}}" hidden>
                        <input name="projectId" value="{{.EventData.Event.Id}}" hidden>
                        <div class="form-group" >
                          <label id="label" hidden style="color: steelblue">Add the new contents here<small> (You may copy from the previous. Remember this new content will override the previous)</small></label>
                          <textarea name="myArea" id="myArea" class="form-control" hidden>

                          </textarea>
                        </div>

                      </div>
                      <div class="form-group text-center" >
                        <button class="btn btn-warning" id="formUpdateButton" type="submit" hidden>update</button>
                      </div>
                    </form>
                  </div>
                  <div class="form-group text-center">
                    <button class="btn btn-info" id="updateButton" type="button" onclick="changeContents({{.EventData.History.History}})" data-dismiss="modal">update</button>
                  </div>
                {{end}}
              </div>
            </div>
          </div>

        </div>
        <!-- /.container-fluid -->

      </div>
      <!-- End of Main Content -->

      <!-- Footer -->
      <footer class="sticky-footer bg-white">
        <div class="container my-auto">
          <div class="copyright text-center my-auto">
            <span>Copyright &copy; OSTM 2019</span>
          </div>
        </div>
      </footer>
      <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

  </div>
  <!-- End of Page Wrapper -->

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>

  <!-- Logout Modal-->
  <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
        <div class="modal-footer">
          <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
          <a class="btn btn-primary" href="login.html">Logout</a>
        </div>
      </div>
    </div>
  </div>

  <!-- Bootstrap core JavaScript-->
  <script src="../../assets/vendor/jquery/jquery.min.js"></script>
  <script src="../../assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="../../../assets/js/customer/mymap.js"></script>
  <script async defer
          src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBhOdIF3Y9382fqJYt5I_sswSrEw5eihAA&callback=initMap">
  </script>

  <!-- Core plugin JavaScript-->
  <script src="../../assets/vendor/jquery-easing/jquery.easing.min.js"></script>

  <!-- Custom scripts for all pages-->
  <script src="../../assets/js/sb-admin-2.min.js"></script>
</body>
<script>
    function showAddPictureForm() {
$('#addPicture').removeAttr('hidden');
$('#toAdd').attr('hidden','hidden')
    }
function changeContents(content) {
  tinymce.init({
    selector: '#myArea'
  });
  $('#updateButton').attr('hidden','hidden');
  $('#formUpdateButton').removeAttr('hidden');
  $('#myArea').removeAttr('hidden');
  $('#label').removeAttr('hidden');
}


    var max_fields = 6;
    var wrapper = document.getElementById("filesArea");
    var add_button = document.getElementById("add_form_field");

    var x = 1;
    $(add_button).click(function(e) {

        e.preventDefault();
        if (x < max_fields) {
            x++;
            $(wrapper).append('<div class="col-sm-6"> <input type="file"name="file'+x+'" class="form-control " id="file'+x+'" placeholder="Project Name" required> </div> <div class="col-sm-6"> <button type="button" id="btn'+x+'" class="btn btn-primary  btn-block" onclick="removeBTN(x)">Delete </button> <br></div> '); //add input box
        } else {
            alert('You Reached the limits')
        }
    });

    $(wrapper).on("click", ".delete", function(e) {
        e.preventDefault();
        $(this).parent('div').remove();
        x--;
    });
    function removeBTN(id) {
        $('#file'+id+'').remove();
        $('#btn'+id+'').remove();
        id =null;
    }


    let checkSelectedProject = function(initialApplicantType) {
      const selectedApplicantType = $("#projectDrop").val();
      if (initialApplicantType.localeCompare(selectedApplicantType)) {
      }
    };
    let checkSelectedPartner = function(initialApplicantType) {
      const selectedApplicantType = $("#partnerDrop").val();
      if (initialApplicantType.localeCompare(selectedApplicantType)) {
      }
    };



</script>

</html>
