	<!DOCTYPE html>
	<html lang="zxx" class="no-js">
	<head>
		<!-- Mobile Specific Meta -->
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<!-- Favicon-->
		<link rel="shortcut icon" href="assets/img/fav.png">
		<!-- Author Meta -->
		<meta name="author" content="codepixer">
		<!-- Meta Description -->
		<meta name="description" content="">
		<!-- Meta Keyword -->
		<meta name="keywords" content="">
		<!-- meta character set -->
		<meta charset="UTF-8">
		<!-- Site Title -->
		<title>Simon's Town Museum</title>

		<link href="https://fonts.googleapis.com/css?family=Poppins:100,200,400,300,500,600,700" rel="stylesheet">
			<!--
			CSS
			============================================= -->
			<link rel="stylesheet" href="../../assets/css/linearicons.css">
			<link rel="stylesheet" href="../../assets/css/font-awesome.min.css">
			<link rel="stylesheet" href="../../assets/css/bootstrap.css">
			<link rel="stylesheet" href="../../assets/css/magnific-popup.css">
			<link rel="stylesheet" href="../../assets/css/nice-select.css">
			<link rel="stylesheet" href="../../assets/css/animate.min.css">
			<link rel="stylesheet" href="../../assets/css/owl.carousel.css">
			<link rel="stylesheet" href="../../assets/css/main.css">
		</head>
		<body>

		{{template "navigator" .}}

			<!-- start banner Area -->
		<section {{if .ProjectBanner}} style="background: url('data:image/jpeg;base64,{{.ProjectBanner}}') center; width: 100%;background-size: cover;background-color: rgba(0, 0, 0, 0.7);" class="relative banner" {{else}}class="banner-area relative" {{end}}  id="home" >
				<div class="overlay overlay-bg"></div>
				<div class="container">
					<div class="row d-flex align-items-center justify-content-center">
						<div class="about-content col-lg-12">
							<h1 class="text-white">
								Groups
							</h1>
							<p class="text-white link-nav"><a href="/">Home </a>  <span class="lnr lnr-arrow-right"></span>  <a href="/about_us/group"> Group</a></p>
						</div>
					</div>
				</div>
			</section>
			<!-- End banner Area -->

			<!-- Start blog-posts Area -->
			<section class="blog-posts-area section-gap">
				<div class="container">
					<div class="row">
						<div class="col-lg-8 post-list blog-post-list">
							<div class="row">
								{{with .Groups}}
									{{range .}}<!-- start looping the Groups slice-->
											<div class="col-lg-4">
												<div class="single-service">
													<img class="card-img" id='base64image'
														 width="500px"{{if .Image}}src='data:image/jpeg;base64,{{.Image.Id}}' alt=""{{end}}/>
													<a href="/about_us/single/{{.Group.Id}}"><h3>{{.Group.Name}}</h3></a>													<div class="overlay">
														<div class="text">
															<p>{{.Group.Description}}</p>
															<a href="/about_us/single/{{.Group.Id}}"
															   class="text-uppercase primary-btn"
															>Read more</a>
														</div>
													</div>
												</div>
											</div>
										{{end}}
									{{end}}
							</div>
						</div>
						<div class="col-lg-4 sidebar whole-wrap">

							<div class="single-widget protfolio-widget">
								<a href="#"><h4>Become A Member of a Group</h4></a>
								<p>
									You can become a member of listed Groups. You just need to click your preferred group, you will see a link or form at the bottom of the page which you will need to fill up.
								</p>
							</div>

							<div class="single-widget recent-posts-widget">
								<h4 class="title">Simon's Town Histories</h4>
								<div class="blog-list ">
									{{with .Histories}}
									{{range .}}
									<div class="single-recent-post d-flex flex-row">
										<div class="recent-thumb">
											<img class="img-fluid" id='base64image' width="100px"{{if .Profile}}src='data:image/jpeg;base64,{{.Profile}}' alt=""{{end}}/>
										</div>
										<div class="recent-details">
											<a href="/history/single_history/{{.History.Id}}">
												<h4>
													{{.History.Title}}
												</h4>
											</a>
											<p>
												{{.History.Date}}
											</p>
										</div>
									</div>
									{{end}}
									{{end}}
								</div>
							</div>

						</div>
					</div>
				</div>
			</section>
			<!-- End blog-posts Area -->


			<!-- start footer Area -->
			  {{template "footer" .}}
			<!-- End footer Area -->

			<script src="../../assets/js/vendor/jquery-2.2.4.min.js"></script>
			<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
			<script src="../../assets/js/vendor/bootstrap.min.js"></script>
			<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBhOdIF3Y9382fqJYt5I_sswSrEw5eihAA"></script>
  			<script src="../../assets/js/easing.min.js"></script>
			<script src="../../assets/js/hoverIntent.js"></script>
			<script src="../../assets/js/superfish.min.js"></script>
			<script src="../../assets/js/jquery.ajaxchimp.min.js"></script>
			<script src="../../assets/js/jquery.magnific-popup.min.js"></script>
			<script src="../../assets/js/owl.carousel.min.js"></script>
			<script src="../../assets/js/imagesloaded.pkgd.min.js"></script>
			<script src="../../assets/js/justified.min.js"></script>
			<script src="../../assets/js/jquery.sticky.js"></script>
			<script src="../../assets/js/jquery.nice-select.min.js"></script>
			<script src="../../assets/js/parallax.min.js"></script>
			<script src="../../assets/js/mail-script.js"></script>
			<script src="../../assets/js/main.js"></script>
		</body>
	</html>


