<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Admin OSTM</title>
  <style>

    .form-select .nice-select {
      border: none;
      border-radius: 0px;
      height: 40px;
      background: #f9f9ff;
      padding-left: 45px;
      padding-right: 40px;
      width: 100%;
    }

  </style>

  <!-- Custom fonts for this template-->
  <link href="../../assets/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

  <!-- Custom styles for this template-->
  <link href="../../assets/css/sb-admin-2.min.css" rel="stylesheet">
  <link rel="stylesheet" href="../../assets/css/main.css">
</head>

<body class="bg-gradient-primary">

  <div class="container">

    <div class="card o-hidden border-0 shadow-lg my-5">
      <div class="card-body p-0">
        <!-- Nested Row within Card Body -->
        <div class="row">

          <div class="col-lg-5 d-none d-lg-block ">
            <div class="map-wrap" style="width:100%; height: 100%;" id="map"></div>

          </div>

          <div class="col-lg-7">
            <div class="p-5">
              <div class="text-center">
                <h1 class="h4 text-gray-900 mb-4">Create new Event</h1>
              </div>
              <form class="user" method="post" action="/admin_user/event/create">
                <div class="form-group row">
                  <div class="col-sm-6 mb-3 mb-sm-0">
                    <input type="text" name="event_name" class="form-control form-control-user" id="exampleFirstName" placeholder="Event Name">
                  </div>
                  <div class="col-sm-6">
                    <input type="date" name="date" class="form-control form-control-user" id="exampleLastName" placeholder="Event date">
                  </div>
                </div>
                <div class="form-group row">
                  <div class="col-sm-6">
                    <select name="project" class="browser-default custom-select">
                      <option selected>Choose a project</option>
                      {{with .Projects}}
                      {{range .}}
                        <option value={{.Id}}>{{.Title}}</option>
                      {{end}}
                      {{end}}n>
                    </select>
                  </div>
                  <div class="col-sm-6">
                    <select name="partner" class="browser-default custom-select">
                      <option selected>Choose a partner</option>
                      {{with .Partners}}
                      {{range .}}
                      <option value={{.Id}}>{{.Name}}</option>
                      {{end}}
                      {{end}}
                    </select>
                  </div>
                </div>
                <div class="form-group">
                  <label>Lacation Cordinates <h6>click on the mape</h6></label>
                  <input type="text" class="form-control form-control-user" name="latlng" id="exampleRepeatPassword" placeholder="Map coordinates">
                </div>

                <div class="form-group">
                    <input type="text" class="form-control form-control-user" name="place" placeholder="Location name">
                </div>
                <button type="submit" class="btn btn-primary btn-user btn-block">
                  Next
                </button>
                <hr>
                <a href="/admin_user" class="btn btn-google btn-user btn-block">Cancel</a>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>

  <!-- Bootstrap core JavaScript-->
  <script src="../../assets/vendor/jquery/jquery.min.js"></script>
  <script src="../../assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <!-- Core plugin JavaScript-->
  <script src="../../assets/vendor/jquery-easing/jquery.easing.min.js"></script>
  <!-- Custom map-->
<script src="../../assets/js/customer/mymap.js"></script>
  <!-- Custom scripts for all pages-->
  <script src="../../assets/js/sb-admin-2.min.js"></script>
  <script async defer
          src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBhOdIF3Y9382fqJYt5I_sswSrEw5eihAA&callback=initMap">
  </script>
  <!--script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBhOdIF3Y9382fqJYt5I_sswSrEw5eihAA"></script-->

</body>

</html>
