    <!DOCTYPE html>
    <html lang="zxx" class="no-js">
    <head>
        <!-- Mobile Specific Meta -->
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <!-- Favicon-->
        <link rel="shortcut icon" href="assets/img/fav.png">
        <!-- Author Meta -->
        <meta name="author" content="codepixer">
        <!-- Meta Description -->
        <meta name="description" content="">
        <!-- Meta Keyword -->
        <meta name="keywords" content="">
        <!-- meta character set -->
        <meta charset="UTF-8">
        <!-- Site Title -->
        <title>Simon's Town Museum</title>

        <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,400,300,500,600,700" rel="stylesheet">
            <!--
            CSS
            ============================================= -->
            <link rel="stylesheet" href="../../assets/css/linearicons.css">
            <link rel="stylesheet" href="../../assets/css/font-awesome.min.css">
            <link rel="stylesheet" href="../../assets/css/bootstrap.css">
            <link rel="stylesheet" href="../../assets/css/magnific-popup.css">
            <link rel="stylesheet" href="../../assets/css/nice-select.css">
            <link rel="stylesheet" href="../../assets/css/animate.min.css">
            <link rel="stylesheet" href="../../assets/css/owl.carousel.css">
            <link rel="stylesheet" href="../../assets/css/main.css">

        <style>
            a.julie:hover{
                color: #1cc88a;
            }
        </style>
        </head>
        <body>

        {{template "navigator" .}}

            <!-- start banner Area -->
            <section class="banner-area relative" id="home">
                <div class="overlay overlay-bg"></div>
                <div class="container">
                    <div class="row d-flex align-items-center justify-content-center">
                        <div class="about-content col-lg-12">
                            <h1 class="text-white">
                                {{.EventData.Event.Name}}
                            </h1>
                            <p class="text-white link-nav"><a href="/">Home </a>  <span class="lnr lnr-arrow-right"></span>  <a href="#"> Event</a></p>
                        </div>
                    </div>
                </div>
            </section>
            <!-- End banner Area -->

			<!-- Start blog-posts Area -->
        <hr>
			<section class="blog-posts-area section">
				<div class="container">
					<div class="row">
						<div class="col-lg-8 post-list blog-post-list">
							<div class="single-post">
                                <img id='base64image' height="400px" src='data:image/jpeg;base64,{{.EventData.ProfileImage.Id}}' alt="">
                                <hr>
                                <a href="#">
                                    {{if .EventData.Event.Date}}
                                        <h3>
                                          Date: <small> {{.EventData.Event.Date}}</small>
                                        </h3>
                                    {{end}}
                                </a>
								<ul class="tags">

									<li><a href="#">Location: </a></li>

                                    <br>

								</ul>
                                <br>
                                    <h2> {{.EventData.Event.Name}}</h2>
                                <br>
								<div class="content-wrap" id="me">
                                    <script>
                                        var div= document.getElementById('me');
                                        var myvalue = {{.EventData.History.History}}
                                            parseMe(myvalue);
                                        function parseMe(value) {
                                            div.innerHTML+=value;
                                        }
                                    </script>

								</div>
                                <hr>
								<div class="bottom-meta">
									<div class="user-details row align-items-center">
										<div class="comment-wrap col-lg-6 col-sm-6">
											<ul>
												<li><a href="#"><span class="lnr lnr-heart"></span>	4 likes</a></li>
												<li><a href="#"><span class="lnr lnr-bubble"></span> 06 Comments</a></li>
											</ul>
										</div>
										<div class="social-wrap col-lg-6">
											<ul>
												<li><a href="#"><i class="fa fa-facebook"></i></a></li>
												<li><a href="#"><i class="fa fa-twitter"></i></a></li>
												<li><a href="#"><i class="fa fa-dribbble"></i></a></li>
												<li><a href="#"><i class="fa fa-behance"></i></a></li>
											</ul>

										</div>
									</div>
								</div>


                            <!-- Start comment-sec Area -->
                                {{template "comments" .}}
                            <!-- End comment-sec Area -->

                            <!-- Start commentform Area -->
                            <section class="commentform-area pt-80">
                                <div class="container">
                                    <form method="post" action="/event/create">
                                    <h5 class="pb-50">Leave a Comment</h5>
                                    <div class="row flex-row d-flex">
                                        <div class="col-lg-4 col-md-6">
                                            <input name="name" placeholder="Enter your name" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter your name'" class="common-input mb-20 form-control" required="" type="text">
                                            <input name="email" placeholder="Enter your email" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter your email'" class="common-input mb-20 form-control" required="" type="email">
                                            <input name="Subject" placeholder="Subject" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter your Subject'" class="common-input mb-20 form-control" required="" type="text">
                                            <input name="groupId" value="{{.EventData.Event.Id}}" type="hidden">

                                        </div>
                                        <div class="col-lg-8 col-md-6">
                                            <textarea class="form-control mb-10" name="message" placeholder="message" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Messege'" required=""></textarea>
                                            <button type="submit" class="primary-btn mt-20" href="#">Comment</button>
                                        </div>
                                    </div>
                                    </form>
                                </div>
                            </section>
                            <!-- End commentform Area -->


							</div>
						</div>
						<div class="col-lg-4 sidebar">
                            {{with .EventData.Images}}
                            {{range $i, $e := .}}
							<div class="single-widget protfolio-widget">
                                <img id='base64image' height="200px" src='data:image/jpeg;base64,{{.Id}}' alt="">
								<a href="#"><h4></h4></a>
                                {{if eq $i 0}}
								<p>
									{{$.EventData.Event.Description}}
								</p>

								<ul>
									<li><a href="#"><i class="fa fa-facebook"></i></a></li>
									<li><a href="#"><i class="fa fa-twitter"></i></a></li>
									<li><a href="#"><i class="fa fa-dribbble"></i></a></li>
									<li><a href="#"><i class="fa fa-behance"></i></a></li>
								</ul>
                                {{end}}
							</div>
                            {{end}}
                            {{end}}

                            {{if .Place.Id}}
                            <div class="single-widget category-widget">
                                <h4 class="title">Event Place</h4>
                                <ul>
                                    <li><a href="/place/{{.Place.Id}}" class="justify-content-between align-items-center d-flex"><h6>{{.Place.Title}}</h6></a></li>
                                </ul>
                            </div>
                            {{end}}

                            {{if .Peoples}}
                            <div class="single-widget recent-posts-widget">
                                <h4 class="title">Peoples linked to this event</h4>
                                <div class="blog-list ">
                                    {{with .Peoples}}
                                        {{range .}}
                                    <div class="single-recent-post d-flex flex-row">
                                        <div class="recent-thumb">
                                            <img class="img-fluid" id='base64image' width="70px" src='data:image/jpeg;base64,{{.DeathDate}}' alt="">
                                        </div>
                                        <div class="recent-details">
                                            <a href="/people/{{.Id}}">
                                                <h4>
                                                    {{.Name}}
                                                    {{.Surname}}
                                                </h4>
                                            </a>
                                            <p>
                                                {{.BirthDate}}
                                            </p>
                                        </div>
                                    </div>
                                            <hr>
                                    {{end}}
                                    {{end}}
                                </div>
                            </div>
                            {{end}}

                            {{if .GroupData}}
                                <div class="single-widget recent-posts-widget">
                                    <h4 class="title">Groups related to this event</h4>
                                    <div class="blog-list ">
                                        {{with .GroupData}}
                                            {{range .}}
                                                <div class="single-recent-post d-flex flex-row">
                                                    <div class="recent-thumb">
                                                        <img class="img-fluid" id='base64image' width="70px" src='data:image/jpeg;base64,{{.Image.Id}}' alt="">
                                                    </div>
                                                    <div class="recent-details">
                                                        <a href="/about_us/single/{{.Group.Id}}">
                                                            <h4>
                                                                {{.Group.Name}}
                                                            </h4>
                                                        </a>
                                                        <p class="text-sm-center">
                                                            {{.Group.Description}}
                                                        </p>
                                                    </div>
                                                </div>
                                            {{end}}
                                        {{end}}
                                    </div>
                                </div>
                            {{end}}

                            {{if .Project.Id}}
                                <div class="single-widget category-widget">
                                    <h4 class="title">Event Project</h4>
                                    <ul>
                                        <li><a href="/place/{{.Project.Id}}" class="justify-content-between align-items-center d-flex"><h6>{{.Project.Title}}</h6></a></li>
                                    </ul>
                                </div>
                            {{end}}

						</div>
					</div>
				</div>
			</section>
			<!-- End blog-posts Area -->

        <!--event gallery--->
        <div class="container">
            <div class="row d-flex justify-content-center">
                <div class="menu-content pb-60 col-lg-10">
                    <div class="title text-center">
                        <h1 class="mb-10">Event Gallery</h1>
                        <!--p>Who are in extremely love with eco friendly system.</p-->
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="active-exibition-carusel">
                    {{with .GalleryImages}}
                        {{range .}}
                            <div class="single-exibition item">
                                <img id='base64image'  src='data:image/jpeg;base64,{{.Gallery.Image}}' alt="">
                                <p>
                                    {{.Gallery.Description}}
                                </p>
                            </div>
                        {{end}}
                    {{end}}
                </div>
            </div>
        </div>
        <br>

        <div class="modal fade" id="contributeToEvent" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content" >
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Contribute to this Event</h5>
                        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <p class="container">
                        <br>
                        Your contribution may consists of facts of events, archives or any tangible data patterning to this Event.
                        We value your contribution and we need you to fill in bellow form so that we may also contact to learn more from you.
                        We promise to protect you input and your identity. In case of any uncertainty and sensitivity of your data that please
                        contact us on <b>simonstown@museum.co.za</b>.
                    </p>
                    <div class="container">
                        <form method="post" action="/event/contribution" enctype="multipart/form-data">
                            <br>

                                    <input name="name" placeholder="Enter your name" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter your name'" class="common-input mb-20 form-control" required="true" type="text">
                                    <input name="email" placeholder="Enter your email" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter your email'" class="common-input mb-20 form-control" required="true" type="email">
                                    <input name="cellphone" placeholder="Enter your phone number" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter your phone number'" class="common-input mb-20 form-control" required=""  type="number">
                                    <input name="eventId" value="{{.EventData.Event.Id}}" type="hidden">

                                    <label class="text-sm-left">Please upload a contribution file of type: <small>pdf,jpg,doc,mp3,mp4</small></label>
                                    <input type="file" class="common-input mb-20 form-control" name="file"/>
                                    <textarea style="height: 200px" class="form-control mb-10" name="message" placeholder="Messege" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Messege'" required="true"></textarea>

                                    <button type="submit" class="primary-btn mt-20 " href="#">Comment</button>

                        </form>
                    </div>
                    <div class="mt-20">
                    </div>
                </div>
            </div>
        </div>




            <!-- start footer Area -->
        {{template "footer" .}}
            <!-- End footer Area -->

            <script src="../../assets/js/vendor/jquery-2.2.4.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
            <script src="../../assets/js/vendor/bootstrap.min.js"></script>
            <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBhOdIF3Y9382fqJYt5I_sswSrEw5eihAA"></script>
            <script src="../../assets/js/easing.min.js"></script>
            <script src="../../assets/js/hoverIntent.js"></script>
            <script src="../../assets/js/superfish.min.js"></script>
            <script src="../../assets/js/jquery.ajaxchimp.min.js"></script>
            <script src="../../assets/js/jquery.magnific-popup.min.js"></script>
            <script src="../../assets/js/owl.carousel.min.js"></script>
            <script src="../../assets/js/imagesloaded.pkgd.min.js"></script>
            <script src="../../assets/js/justified.min.js"></script>
            <script src="../../assets/js/jquery.sticky.js"></script>
            <script src="../../assets/js/jquery.nice-select.min.js"></script>
            <script src="../../assets/js/parallax.min.js"></script>
            <script src="../../assets/js/mail-script.js"></script>
            <script src="../../assets/js/main.js"></script>
        </body>
    </html>


