<!DOCTYPE html>
<html lang="zxx" class="no-js">
<head>
    <!-- Mobile Specific Meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Favicon-->
    <link rel="shortcut icon" href="../../assets/img/fav.png">
    <!-- Author Meta -->
    <meta name="author" content="codepixer">
    <!-- Meta Description -->
    <meta name="description" content="">
    <!-- Meta Keyword -->
    <meta name="keywords" content="">
    <!-- meta character set -->
    <meta charset="UTF-8">
    <!-- Site Title -->
    <title>Simon's Town Museum</title>

    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,400,300,500,600,700" rel="stylesheet">
    <!--
    CSS
    ============================================= -->
    <link rel="stylesheet" href="../../assets/css/linearicons.css">
    <link rel="stylesheet" href="../../assets/css/font-awesome.min.css">
    <link rel="stylesheet" href="../../assets/css/bootstrap.css">
    <link rel="stylesheet" href="../../assets/css/magnific-popup.css">
    <link rel="stylesheet" href="../../assets/css/nice-select.css">
    <link rel="stylesheet" href="../../assets/css/animate.min.css">
    <link rel="stylesheet" href="../../assets/css/owl.carousel.css">
    <link rel="stylesheet" href="../../assets/css/main.css">
</head>
<body>

{{template "navigator" .}}

<!-- start banner Area -->
<section {{if .ProjectBanner}} style="background: url('data:image/jpeg;base64,{{.ProjectBanner}}') center; width: 100%;background-size: cover;background-color: rgba(0, 0, 0, 0.7);" class="relative banner" {{else}}class="banner-area relative" {{end}}  id="home" >
    <div class="overlay overlay-bg"></div>
    <div class="container">
        <div class="row d-flex align-items-center justify-content-center">
            <div class="about-content col-lg-12">
                <h1 class="text-white">
                    {{.Year.Year}}'s Events
                </h1>
                <p class="text-white link-nav"><a href="/">Home </a> <span class="lnr lnr-arrow-right"></span> <a
                            href="/event"> Events</a></p>
            </div>
        </div>
    </div>
</section>
<!-- End banner Area -->

<!-- Start blog-posts Area -->
<section class="blog-posts-area section-gap">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 post-list blog-post-list">
                {{with .Events}}
                    {{range .}}
                        <div class="single-post">
                            <img class="img-fluid" id='base64image' width="400px"
                                 src='data:image/jpeg;base64,{{.ProfileImage.Id}}' alt="">
                            <ul class="tags">
                                <li><a href="#">{{.Event.Date}}</a></li>
                            </ul>
                            <a href="#">
                                <h1>
                                    <a href="/event/single/{{.Event.Id}}"><h4>{{.Event.Name}}</h4></a>
                                </h1>
                            </a>
                            <p>
                                {{.Event.Description}}
                            </p>
                            <div class="bottom-meta">
                                <div class="user-details row align-items-center">
                                    <div class="comment-wrap col-lg-6">
                                        <ul>
                                            <li><a href="#"><span class="lnr lnr-heart"></span> 4 likes</a></li>
                                            <li><a href="#"><span class="lnr lnr-bubble"></span> 06 Comments</a></li>
                                        </ul>
                                    </div>
                                    <div class="social-wrap col-lg-6">
                                        <ul>
                                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                            <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                                            <li><a href="#"><i class="fa fa-behance"></i></a></li>
                                        </ul>

                                    </div>
                                </div>
                            </div>
                        </div>
                    {{end}}
                {{end}}

            </div>
            <div class="col-lg-4 sidebar whole-wrap">
                {{if .Years}}
                    <div class="single-widget category-widget">
                        <h4 class="title">Event years</h4>
                        <ul>
                            {{with .Years}}
                                {{range .}}
                                    <li><a href="/event/ofayear/{{.Year.Id}}"
                                           class="justify-content-between align-items-center d-flex"><h6>
                                                {{.Year.Year}}</h6> <span>{{.Number}}</span></a></li>
                                {{end}}
                            {{end}}
                        </ul>
                    </div>
                {{end}}

            </div>
        </div>
    </div>
</section>
<!-- End blog-posts Area -->


<!-- start footer Area -->
{{template "footer" .}}
<!-- End footer Area -->

<script src="../../assets/js/vendor/jquery-2.2.4.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="../../assets/js/vendor/bootstrap.min.js"></script>
<script type="text/javascript"
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBhOdIF3Y9382fqJYt5I_sswSrEw5eihAA"></script>
<script src="../../assets/js/easing.min.js"></script>
<script src="../../assets/js/hoverIntent.js"></script>
<script src="../../assets/js/superfish.min.js"></script>
<script src="../../assets/js/jquery.ajaxchimp.min.js"></script>
<script src="../../assets/js/jquery.magnific-popup.min.js"></script>
<script src="../../assets/js/owl.carousel.min.js"></script>
<script src="../../assets/js/imagesloaded.pkgd.min.js"></script>
<script src="../../assets/js/justified.min.js"></script>
<script src="../../assets/js/jquery.sticky.js"></script>
<script src="../../assets/js/jquery.nice-select.min.js"></script>
<script src="../../assets/js/parallax.min.js"></script>
<script src="../../assets/js/mail-script.js"></script>
<script src="../../assets/js/main.js"></script>
</body>
</html>


